<mat-list role="list" size="small">
    <mat-list-item role="listitem">
      <p>Hello world</p>
      <button mat-icon-button>
        <mat-icon >note</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item role="listitem">
      <p>Hello world</p>
      <button mat-icon-button>
        <mat-icon matListItemIcon>note</mat-icon>
      </button>
    </mat-list-item>  
    <mat-list-item role="listitem">
      <p>Hello world</p>
      <button mat-icon-button>
        <mat-icon matListItemIcon>note</mat-icon>
      </button>
    </mat-list-item>
<mat-list />