

<div style="display: flex; align-items: center; flex-direction: column; gap: 6px;  flex-wrap: wrap;">
    <span class="mat-body-2">body-2</span>
    <span class="mat-body-1">body-1</span>
    <span class="mat-subtitle-1">subtitle-1</span>
    <span class="mat-subtitle-2">subtitle-2</span>
    <span class="mat-caption">caption</span>
    <span class="mat-overline">overline</span>
    <span class="mat-headline-5">H1</span>
    <span class="mat-headline-6">H2</span>
    <span class="mat-h3">H3</span>
    <span class="mat-h4">H4</span>
    <span class="mat-h5">H5</span>
    <span class="mat-h6">H6</span>
</div>