<!-- <mat-list role="list" size="small" >  <mat-list-item role="listitem">    <p>Hello world</p>    <button mat-icon-button matListItemMeta >      <mat-icon >note</mat-icon>    </button>  </mat-list-item>  <mat-list-item role="listitem">    <p>Hello world</p>    <button mat-icon-button matListItemMeta>      <mat-icon >note</mat-icon>    </button>  </mat-list-item>  <mat-list-item role="listitem">    <p>Hello world</p>    <button mat-icon-button matListItemMeta>      <mat-icon >note</mat-icon>    </button>  </mat-list-item>  <mat-list />Contraer -->
<mat-icon size="small">home</mat-icon>
<mat-icon>home</mat-icon>
<mat-icon size="large">home</mat-icon>
<button mat-raised-button size="small">
  <mat-icon>home</mat-icon>
  large
</button>
<button mat-raised-button >
  <mat-icon>home</mat-icon>
  large
</button>
<button mat-raised-button size="large">
  <mat-icon>home</mat-icon>
  large
</button>

<button mat-icon-button size="small">
  <mat-icon>home</mat-icon>
  <!-- large -->
</button>
<button mat-icon-button>
  <mat-icon>home</mat-icon>
  <!-- large -->
</button>
<button mat-icon-button size="large">
  <mat-icon>home</mat-icon>
  <!-- large -->
</button>
<button mat-fab size="small">
  <mat-icon>home</mat-icon>
  <!-- large -->
</button>
<button mat-fab>
  <mat-icon>home</mat-icon>
  <!-- large -->
</button>
<button mat-fab size="large">
  <mat-icon>home</mat-icon>
  <!-- large -->
</button>
<button mat-fab extended size="small">
  <mat-icon>home</mat-icon>
  large
</button>
<button mat-fab extended="">
  <mat-icon>home</mat-icon>
  large
</button>
<button mat-fab extended size="large">
  <mat-icon>home</mat-icon>
  large
</button>
