<div style="margin: 100px">
  <button color="primary" mat-raised-button size="small">
    small
    <mat-icon>favorite</mat-icon>
  </button>
  <button color="primary" mat-raised-button size="medium">
    medium
    <mat-icon>favorite</mat-icon>
  </button>
  <button color="primary" mat-raised-button size="large">
    large
    <mat-icon>favorite</mat-icon>
  </button>
  <button color="primary" mat-icon-button size="small">
    <mat-icon>close</mat-icon>
  </button>
  <button color="primary" mat-icon-button size="medium">
    <mat-icon>favorite</mat-icon>
  </button>
  <button color="primary" mat-icon-button size="large">
    <mat-icon>favorite</mat-icon>
  </button>
  <mat-list role="list" size="small">
    <mat-list-item role="listitem">
      Item 1
      <button mat-icon-button matListItemMeta>
        <mat-icon>folder</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list>
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <mat-icon size="small">folder</mat-icon>
  <mat-icon size="medium">folder</mat-icon>
  <mat-icon size="large">folder</mat-icon>

</div>
