
$bitakora-primary: (
    50: #e3e4e5,
    100: #b9bbbf,
    200: #8a8e94,
    300: #5b6169,
    400: #373f49,
    500: #141d29,
    600: #121a24,
    700: #0e151f,
    800: #0b1119,
    900: #060a0f,
    A100: #5394ff,
    A200: #2074ff,
    A400: #0059ec,
    A700: #004fd2,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #ffffff,
      A400: #ffffff,
      A700: #ffffff,
    ),
  );
  
  $bitakora-accent: (
    50: #e1f0f7,
    100: #b5daea,
    200: #83c2dd,
    300: #51a9cf,
    400: #2c96c4,
    500: #0784ba,
    600: #067cb3,
    700: #0571ab,
    800: #0467a3,
    900: #025494,
    A100: #bfdfff,
    A200: #8cc6ff,
    A400: #59adff,
    A700: #40a0ff,
  
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  );
  
  $bitakora-warn: (
    50: #fde8ea,
    100: #f9c5cb,
    200: #f59fa9,
    300: #f17887,
    400: #ee5b6d,
    500: #eb3e53,
    600: #e9384c,
    700: #e53042,
    800: #e22839,
    900: #dd1b29,
    A100: #ffffff,
    A200: #ffdee0,
    A400: #ffabb0,
    A700: #ff9198,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  );
  
  $bitakora-success: (
    50: #f1fae8,
    100: #ddf2c7,
    200: #c7e9a1,
    300: #b0e07b,
    400: #9fd95f,
    500: #8ed243,
    600: #86cd3d,
    700: #7bc734,
    800: #71c12c,
    900: #5fb61e,
    A100: #f4ffed,
    A200: #d6ffba,
    A400: #b7ff87,
    A700: #a8ff6e,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  );
  $bitakora-caution: (
    50: #fffde7,
    100: #fff9c4,
    200: #fff59d,
    300: #fff176,
    400: #ffee58,
    500: #ffeb3b,
    600: #ffe935,
    700: #ffe52d,
    800: #ffe226,
    900: #ffdd19,
    A100: #ffffff,
    A200: #fffffd,
    A400: #fff7ca,
    A700: #fff2b1,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  );
  
  