@use "sass:map";
@use "@angular/material" as mat;

@include mat.core();
@import "./colors";
@import "./typography";
// Define a light theme
$light-primary: mat.define-palette($bitakora-primary);
$light-accent: mat.define-palette($bitakora-accent);
$light-warn: mat.define-palette($bitakora-warn);
$light-success: mat.define-palette($bitakora-success);
$light-caution: mat.define-palette($bitakora-caution);
$bitakora-light-theme: mat.define-light-theme(
  (
    density: 0,
    typography: $bitakora-typography,
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
      success: $light-success,
      caution: $light-caution,
    ),
  )
);
@include mat.core-theme($bitakora-light-theme);
@include mat.all-component-themes($bitakora-light-theme);

.small {
  // CHIP
  .mat-mdc-standard-chip {
    height: var(--mdc-chip-container-height, 1.71428571rem);
  }
  .mat-mdc-standard-chip .mdc-evolution-chip__graphic {
    height: var(--mdc-chip-with-avatar-avatar-size, 1.28571429rem);
    width: var(--mdc-chip-with-avatar-avatar-size, 1.28571429rem);
  }
  .mat-mdc-standard-chip .mdc-evolution-chip__checkmark {
    height: 1.14285714rem;
    width: 1.14285714rem;
  }
  .mat-icon {
    font-size: 1.428571428571429rem !important;
    height: 1.428571428571429rem !important;
    width: 1.428571428571429rem !important ;
    padding: 0.7142857142857143rem !important;
  }
  .mat-mdc-progress-spinner {
    height: 2.857rem !important;
  }
  @include mat.radio-density(-3);
  .mdc-radio__background {
    width: 1.143rem;
    height: 1.143rem;
  }
  .mdc-radio__inner-circle {
    left: -0.179rem;
    top: -0.179rem;
  }
  .mdc-radio__native-control:checked
    + .mdc-radio__background
    .mdc-radio__inner-circle {
    transform: scale(0.4);
  }
  .mat-mdc-radio-button .mat-radio-ripple {
    top: -0.21428571rem;
    left: -0.21428571rem;
  }
  .mat-expansion-panel-header {
    height: 3.14285714rem;
    padding: 0rem 1.14285714rem;
  }
  // SWITCH
  @include mat.slide-toggle-density(-5);
  .mat-mdc-slide-toggle .mdc-switch {
    width: var(--mdc-switch-track-width, 26px);
  }
  .mat-mdc-slide-toggle .mdc-switch .mdc-switch__track {
    height: var(--mdc-switch-track-height, 10px);
  }
  .mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle {
    height: var(--mdc-switch-handle-height, 16px);
    width: var(--mdc-switch-handle-width, 16px);
  }
  .mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle-track {
    width: calc(100% - var(--mdc-switch-handle-width, 15px));
  }
  .mat-mdc-tab.mdc-tab {
    @include mat.tabs-density(-2);
    height: 2.857142857142857rem !important;
  }
  @include mat.menu-density(-5.5);
  .mat-mdc-menu-item {
    min-height: 1.857rem;
  }
  @include mat.checkbox-density(-0.5);
  .mat-mdc-checkbox-touch-target {
    height: 2.71428571rem;
  }
  .mdc-checkbox__background {
    width: 1.07142857rem;
    height: 1.07142857rem;
  }
  @include mat.button-density(-1.5);
  @include mat.button-toggle-density(-4.5);
  @include mat.form-field-density(-4);
  @include mat.list-density(-3);
  @include mat.slider-density(-4);
}
