@use "sass:map";
@use "@angular/material" as mat;
@include mat.core();
@import "./colors";
@import "./typography";
@import "./density.scss";

// Define a light theme
$light-primary: mat.define-palette($bitakora-primary);
$light-accent: mat.define-palette($bitakora-accent);
$light-warn: mat.define-palette($bitakora-warn);
$light-success: mat.define-palette($bitakora-success);
$light-caution: mat.define-palette($bitakora-caution);
$bitakora-light-theme: mat.define-light-theme(
  (
    density: 0,
    typography: $bitakora-typography,
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
      success: $light-success,
      caution: $light-caution,
    ),
  )
);

@include mat.core-theme($bitakora-light-theme);
@include mat.all-component-themes($bitakora-light-theme);
