@use "sass:map";
@use "@angular/material" as mat;
@use "@material/button";
@use "@material/chips";
// @import "./mixins";
@include mat.core();
@mixin icon-size($tamaño, $font-size) {
  width: $tamaño;
  height: $tamaño;
  font-size: $font-size;
}
// Eliminacion hint elemento de form field componente
[class*="mat-mdc-form-field-subscript-wrapper"] {
  &:not(:has(:only-child mat-hint)) {
    display: none;
  }
}
/////////////// SMALL////////////////
.small {
  // Componentes con pseudo-clase  :not()
  // Brinda dar mayor especificidad al aplicar densidad   ( BUTTONS , MAT-CHIP, MAT-CHIP-OPTION, TEXTFIELD )
  &:not(.large) {
    &.mdc-button {
      @include button.density(-3);
      & > .mat-icon {
        @include icon-size(1.285714285714286rem, 1.142857142857143rem);
      }
    }
    &.mat-mdc-chip,
    &.mat-md-chip-option {
      @include chips.density(-2);
      .mat-mdc-standard-chip .mdc-evolution-chip__checkmark {
        width: 1.142857142857143rem;
        height: 1.142857142857143rem;
      }
      .mat-icon {
        @include icon-size(1.142857142857143rem, 1.142857142857143rem);
      }
    }
  }
  //STEPPER
  .mat-step-header {
    &.mat-horizontal-stepper-header {
      height: 2.857142857142857rem;
    }
  }
  // ICON BUTTON
  &.mat-mdc-icon-button.mat-mdc-button-base {
    @include icon-size(2.285714285714286rem, null);
    padding: 0.2857142857142857rem;
    & > .mat-icon {
      @include icon-size(1.428571428571429rem, 1.428571428571429rem);
    }
  }
  &.mat-icon {
    @include icon-size(1.428571428571429rem, 1.285714285714286rem);
  }
  // CHECKBOX
  .mdc-checkbox {
    @include mat.checkbox-density(-3);
    --mdc-checkbox-state-layer-size: 2.857142857142857rem;
    padding: 0.7142857142857143rem !important;
    .mdc-checkbox__background {
      @include icon-size(1.142857142857143rem, null);
    }
  }
  //FORM FIELD
  &.mat-mdc-form-field {
    &:not(.mat-form-field-appearance-fill) {
      @include mat.form-field-density(-5);
      & .mat-mdc-form-field-infix {
        display: flex;
      }
    }
    &:not(.mat-form-field-appearance-outline) {
      @include mat.form-field-density(-3);
    }
    &.standard:not(.mat-form-field-appearance-outline) {
      @include mat.form-field-density(-4);
    }
    & .mat-icon {
      @include icon-size(
        1.142857142857143rem !important,
        1.142857142857143rem !important
      );
      padding: 0 0.8571428571428571rem !important;
    }
    @include mat.icon-button-density(-5);
  }
  // LIST with icon

  &.mat-mdc-list {
    @include mat.icon-button-density(-3);
    @include mat.list-density(-3);
    .mat-mdc-icon-button.mat-mdc-button-base {
      padding: 8px !important;
    }
    .mat-icon {
      @include icon-size(1.428571428571429rem, 1.285714285714286rem);
    }
  }
  // BUTTON TOGGLE
  @include mat.button-toggle-density(-3);
  // MAT-ICON
  &.mat-icon {
    @include icon-size(
      1.428571428571429rem!important,
      1.285714285714286rem !important
    );
  }
  // SWITCH y/o SLIDE TOGGLE
  @include mat.slide-toggle-density(-5);
  &.mat-mdc-slide-toggle .mdc-switch {
    --mdc-switch-track-width: 1.857142857142857rem;
  }
  &.mat-mdc-slide-toggle .mdc-switch .mdc-switch__track {
    --mdc-switch-track-height: 0.7142857142857143rem;
  }
  &.mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle {
    --mdc-switch-handle-height: 1.142857142857143rem;
    --mdc-switch-handle-width: 1.142857142857143rem;
  }
  &.mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle-track {
    width: calc(100% - var(--mdc-switch-handle-width, 1.071428571428571rem));
  }
  // FAB
  &.mdc-fab:not(.mdc-fab--extended) {
    width: 2.857142857142857rem;
    height: 2.857142857142857rem;
  }
  &.mat-mdc-extended-fab {
    height: 2.428571428571429rem;
  }
  // EXPASION PANEL
  &.mat-expansion-panel-header {
    height: 3.14285714rem; //o 44 px
    padding: 0 1.142857142857143rem;
  }
  // SUFFIX
  .mat-mdc-form-field-icon-suffix > .mat-icon {
    padding: 0.5714285714285714rem;
  }
  // SLIDER
  &.mat-mdc-slider .mdc-slider__thumb-knob {
    width: 0.8571428571428571rem;
    height: 0.8571428571428571rem;
    border-width: 0.4285714285714286rem;
  }
  &.mat-mdc-slider-visual-thumb .mat-ripple {
    width: 2rem;
    height: 2rem;
    margin: 0.7142857142857143rem;
    border-radius: 1rem;
  }
  &.mat-mdc-slider .mdc-slider__track--inactive {
    --mdc-slider-inactive-track-height: 0.1428571428571429rem;
  }
  &.mat-mdc-slider .mdc-slider__track {
    --mdc-slider-inactive-track-height: 0.1428571428571429rem;
  }
  &.mat-mdc-slider .mdc-slider__track--active {
    --mdc-slider-inactive-track-height: 0.2857142857142857rem;
  }
  // MENU
  &.mat-mdc-menu-item {
    min-height: 2rem;
  }
}
//////////////// MEDIUM ////////////////
// Componentes con pseudo-clase  :not()
// Brinda dar mayor especificidad al aplicar densidad   ( BUTTONS , MAT-CHIP, MAT-CHIP-OPTION )
:not(.medium) {
  &.mat-mdc-chip,
  &.mat-md-chip-option {
    @include chips.density(0);
    &.mat-mdc-standard-chip .mdc-evolution-chip__checkmark {
      width: 1.714285714285714rem;
      height: 1.714285714285714rem;
    }
    &.mat-icon {
      @include icon-size(1.428571428571429rem, 1.285714285714286rem);
    }
  }
}
//TEXTFIELD STANDDAR
.mat-mdc-form-field {
  &:not(.mat-form-field-appearance-fill) {
    @include mat.form-field-density(-1);
  }
  &:not(.mat-form-field-appearance-outline) {
    @include mat.form-field-density(-1);
  }
  &.standard:not(.mat-form-field-appearance-outline) {
    @include mat.form-field-density(-3.25);
  }
}
//STEPPER
.mat-step-header {
  &.mat-horizontal-stepper-header {
    height: 3.428571428571429rem;
  }
}
// BUTTON
.mdc-button {
  &:not(.large, .small) {
    &.mdc-button {
      & > .mat-icon {
        @include icon-size(1.428571428571429rem, 1.285714285714286rem);
      }
      @include button.density(-1.5);
    }
  }
}
//PROGRES SPINER
.mat-mdc-progress-spinner {
  width: 3.571428571428571rem;
  height: 3.571428571428571rem !important;
}
//BUTTON TOGGLE
.mat-button-toggle-group {
  @include mat.button-toggle-density(-3.5);
}
// EXPANSION PANEL
.mat-expansion-panel-header {
  height: 3.714285714285714rem;
  padding: 0rem 1.14285714rem;
}
// LISTAS CON ICONO
.mdc-list {
  @include mat.list-density(-3);
  &.material-icons {
    line-height: 1.4 !important;
  }
  & > .mat-icon {
    @include icon-size(2.285714285714286rem !important, 1.142857142857143rem);
    padding: 0.3571428571428571rem !important;
  }
}
// SUFFIX
.mat-mdc-form-field-icon-suffix > .mat-icon {
  padding: 0.5714285714285714rem;
}
// TAB
.mat-mdc-tab.mdc-tab {
  height: 2.857142857142857rem;
}
// SLIDER
.mat-mdc-slider
  .mdc-slider__track--inactive
  .mat-mdc-slider
  .mdc-slider__track {
  --mdc-slider-inactive-track-height: 0.2857142857142857rem;
}
.mat-mdc-slider .mdc-slider__track--active {
  --mdc-slider-inactive-track-height: 0.4285714285714286rem;
}
// FAB
.mat-mdc-extended-fab {
  height: 2.857142857142857rem;
}
.mdc-fab:not(.mdc-fab--extended) {
  width: 3.428571428571429rem;
  height: 3.428571428571429rem;
}
// CHECKBOX
.mdc-checkbox {
  @include mat.checkbox-density(-3);
  --mdc-checkbox-state-layer-size: 3rem;
  padding: 0.8571428571428571rem !important;
  .mdc-checkbox__background {
    width: 1.285714285714286rem;
    height: 1.285714285714286rem;
  }
}
//////////////// LARGE ////////////////
.large {
  // Componentes con pseudo-clase  :not()
  // Brinda dar mayor especificidad al aplicar densidad   ( BUTTONS , MAT-CHIP, MAT-CHIP-OPTION, TEXTFIELD )
  &:not(.small) {
    &.mdc-button {
      @include button.density(0);
      & .mat-icon {
        @include icon-size(1.714285714285714rem, 1.571428571428571rem);
      }
    }
  }
  .mat-button-toggle > .mat-icon {
    @include icon-size(1.285714285714286rem, 1.285714285714286rem);
  }
  &.mat-mdc-chip .mat-icon {
    @include icon-size(1.714285714285714rem, 1.714285714285714rem);
  }
  // FAB
  &.mat-mdc-extended-fab {
    height: 3.571428571428571rem;
  }
  &.mdc-fab:not(.mdc-fab--extended) {
    width: 4rem;
    height: 4rem;
  }
  // STEPPEr
  .mat-step-header {
    &.mat-horizontal-stepper-header {
      height: 3.714285714285714rem;
    }
  }
  // ICON BUTTON
  &.mat-mdc-icon-button.mat-mdc-button-base {
    @include icon-size(4.142857142857143rem, null);
    padding: 1.071428571428571rem 0.1428571428571429rem;
    & > .mat-icon {
      @include icon-size(2.5rem, 2.142857142857143rem);
    }
  }

  &.mat-icon {
    @include icon-size(2.5rem, 2.142857142857143rem);
  }
}
[class*="mat-mdc-paginator"] {
  .mat-mdc-form-field {
    @include mat.form-field-density(-5);
  }
}
