@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.button-small {
  height: 26px;
}
.button-medium {
  height: 32px;
}
.button-large {
  height: 38px;
}
.button-primary {
  background-color: #1e62a1 !important;
  color: white !important;
}
.button-accent {
  background-color: #0cbbe2 !important;
  color: white !important;
}
.button-warn {
  background-color: #d14343 !important;
  color: white !important;
}
.button-success {
  background-color: #8fc93a !important;
  color: white !important;
}

.button-caution {
  background-color: #fb8500 !important;
  color: white !important;
}
.button-info {
  background-color: #2d9fc5 !important;
  color: white !important;
}
.small {
  &::ng-depp {
    .mdc-fab {
      height: 10px;
    }
  }
}
/////////////// SMALL////////////////
.small {
  mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
    margin-top: 2px !important  ;
    font-size: 18px !important;
    width: 20px !important;
    height: 20px !important;
  }
  &.mat-mdc-icon-button.mat-mdc-button-base {
    width: 2rem !important;
    height: 2rem !important;
    padding: 2px !important;
  }
  // ICON BUTTON
  &.mat-mdc-button-base:not(.mdc-icon-button) > .mat-icon {
    font-size: 1.285714285714286rem !important;
    height: 1.285714285714286rem !important;
    width: 1.285714285714286rem !important;
  }
  // MAT-ICON
  &.mat-icon {
    font-size: 1.428571428571429rem !important;
    height: 1.428571428571429rem !important;
    width: 1.428571428571429rem !important ;
  }
  // FAB
  &.mdc-fab:not(.mdc-fab--extended) {
    height: 2.857142857142857rem !important;
    width: 2.857142857142857rem !important;
  }
  &.mat-mdc-extended-fab {
    height: 2.428571428571429rem !important;
  }
}

//////////////// MEDIUM ////////////////
// ICON BUTTON
.mat-mdc-button-base:not(.mdc-icon-button) > .mat-icon {
  font-size: 22px !important;
  height: 24px !important;
  width: 24px !important;
}
// FAB
.mat-mdc-extended-fab {
  height: 2.857142857142857rem !important;
}

.mdc-fab:not(.mdc-fab--extended) {
  height: 3.428571428571429rem !important;
  width: 3.428571428571429rem !important;
}
//////////////// LARGE ////////////////
.large {
  // BUTTON TOGGLE
  &.mat-mdc-button-base > .mat-icon {
    font-size: 1.571428571428571rem !important;
    height: 1.571428571428571rem !important;
    width: 1.571428571428571rem !important;
  }
  // ICON
  &.mat-icon.large {
    font-size: 2.5rem !important;
    height: 2.5rem !important;
    width: 2.5rem !important ;
  }
  // FAB
  &.mat-mdc-extended-fab {
    height: 3.571428571428571rem !important;
  }
  &.mdc-fab:not(.mdc-fab--extended) {
    height: 4rem !important;
    width: 4rem !important;
  }
}
