@use "@angular/material" as mat;
@import "../stylesStorybook/palletes";

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 0.5rem;
  .pallete-color-container {
    display: flex;
    width: 100%;
    &-text {
      width: 15%;
      display: flex;
      flex-direction: column;
    }
    &-color {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      .container-matriz-color {
        width: 100%;
        display: flex;

        & span {
          flex: 1;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: inherit;
        }
      }
    }
  }
}
.container-matriz-color {
  &-light {
    &.primary-color {
      .tone {
        &-50 {
          background-color: mat.get-color-from-palette($primary, 50);
        }
        &-100 {
          background-color: mat.get-color-from-palette($primary, 100);
        }
        &-200 {
          background-color: mat.get-color-from-palette($primary, 200);
        }
        &-300 {
          background-color: mat.get-color-from-palette($primary, 300);
        }
        &-400 {
          background-color: mat.get-color-from-palette($primary, 400);
        }
        &-500 {
          background-color: mat.get-color-from-palette($primary, 500);
        }
        &-600 {
          background-color: mat.get-color-from-palette($primary, 600);
        }
        &-700 {
          background-color: mat.get-color-from-palette($primary, 700);
        }
        &-800 {
          background-color: mat.get-color-from-palette($primary, 800);
        }
        &-900 {
          background-color: mat.get-color-from-palette($primary, 900);
        }
        &-A100 {
          background-color: mat.get-color-from-palette($primary, A100);
        }
        &-A200 {
          background-color: mat.get-color-from-palette($primary, A200);
        }
        &-A300 {
          background-color: mat.get-color-from-palette($primary, A300);
        }
        &-A400 {
          background-color: mat.get-color-from-palette($primary, A400);
        }
        &-A700 {
          background-color: mat.get-color-from-palette($primary, A700);
        }
      }
    }
    &.accent-color {
      .tone {
        &-50 {
          background-color: mat.get-color-from-palette($accent, 50);
        }
        &-100 {
          background-color: mat.get-color-from-palette($accent, 100);
        }
        &-200 {
          background-color: mat.get-color-from-palette($accent, 200);
        }
        &-300 {
          background-color: mat.get-color-from-palette($accent, 300);
        }
        &-400 {
          background-color: mat.get-color-from-palette($accent, 400);
        }
        &-500 {
          background-color: mat.get-color-from-palette($accent, 500);
        }
        &-600 {
          background-color: mat.get-color-from-palette($accent, 600);
        }
        &-700 {
          background-color: mat.get-color-from-palette($accent, 700);
        }
        &-800 {
          background-color: mat.get-color-from-palette($accent, 800);
        }
        &-900 {
          background-color: mat.get-color-from-palette($accent, 900);
        }
        &-A100 {
          background-color: mat.get-color-from-palette($accent, A100);
        }
        &-A200 {
          background-color: mat.get-color-from-palette($accent, A200);
        }
        &-A300 {
          background-color: mat.get-color-from-palette($accent, A300);
        }
        &-A400 {
          background-color: mat.get-color-from-palette($accent, A400);
        }
        &-A700 {
          background-color: mat.get-color-from-palette($accent, A700);
        }
      }
    }
    &.warn-color {
      .tone {
        &-50 {
          background-color: mat.get-color-from-palette($warn, 50);
        }
        &-100 {
          background-color: mat.get-color-from-palette($warn, 100);
        }
        &-200 {
          background-color: mat.get-color-from-palette($warn, 200);
        }
        &-300 {
          background-color: mat.get-color-from-palette($warn, 300);
        }
        &-400 {
          background-color: mat.get-color-from-palette($warn, 400);
        }
        &-500 {
          background-color: mat.get-color-from-palette($warn, 500);
        }
        &-600 {
          background-color: mat.get-color-from-palette($warn, 600);
        }
        &-700 {
          background-color: mat.get-color-from-palette($warn, 700);
        }
        &-800 {
          background-color: mat.get-color-from-palette($warn, 800);
        }
        &-900 {
          background-color: mat.get-color-from-palette($warn, 900);
        }
        &-A100 {
          background-color: mat.get-color-from-palette($warn, A100);
        }
        &-A200 {
          background-color: mat.get-color-from-palette($warn, A200);
        }
        &-A300 {
          background-color: mat.get-color-from-palette($warn, A300);
        }
        &-A400 {
          background-color: mat.get-color-from-palette($warn, A400);
        }
        &-A700 {
          background-color: mat.get-color-from-palette($warn, A700);
        }
      }
    }
    &.success-color {
      .tone {
        &-50 {
          background-color: mat.get-color-from-palette($success, 50);
        }
        &-100 {
          background-color: mat.get-color-from-palette($success, 100);
        }
        &-200 {
          background-color: mat.get-color-from-palette($success, 200);
        }
        &-300 {
          background-color: mat.get-color-from-palette($success, 300);
        }
        &-400 {
          background-color: mat.get-color-from-palette($success, 400);
        }
        &-500 {
          background-color: mat.get-color-from-palette($success, 500);
        }
        &-600 {
          background-color: mat.get-color-from-palette($success, 600);
        }
        &-700 {
          background-color: mat.get-color-from-palette($success, 700);
        }
        &-800 {
          background-color: mat.get-color-from-palette($success, 800);
        }
        &-900 {
          background-color: mat.get-color-from-palette($success, 900);
        }
        &-A100 {
          background-color: mat.get-color-from-palette($success, A100);
        }
        &-A200 {
          background-color: mat.get-color-from-palette($success, A200);
        }
        &-A300 {
          background-color: mat.get-color-from-palette($success, A300);
        }
        &-A400 {
          background-color: mat.get-color-from-palette($success, A400);
        }
        &-A700 {
          background-color: mat.get-color-from-palette($success, A700);
        }
      }
    }
    &.info-color {
      .tone {
        &-50 {
          background-color: mat.get-color-from-palette($info, 50);
        }
        &-100 {
          background-color: mat.get-color-from-palette($info, 100);
        }
        &-200 {
          background-color: mat.get-color-from-palette($info, 200);
        }
        &-300 {
          background-color: mat.get-color-from-palette($info, 300);
        }
        &-400 {
          background-color: mat.get-color-from-palette($info, 400);
        }
        &-500 {
          background-color: mat.get-color-from-palette($info, 500);
        }
        &-600 {
          background-color: mat.get-color-from-palette($info, 600);
        }
        &-700 {
          background-color: mat.get-color-from-palette($info, 700);
        }
        &-800 {
          background-color: mat.get-color-from-palette($info, 800);
        }
        &-900 {
          background-color: mat.get-color-from-palette($info, 900);
        }
        &-A100 {
          background-color: mat.get-color-from-palette($info, A100);
        }
        &-A200 {
          background-color: mat.get-color-from-palette($info, A200);
        }
        &-A300 {
          background-color: mat.get-color-from-palette($info, A300);
        }
        &-A400 {
          background-color: mat.get-color-from-palette($info, A400);
        }
        &-A700 {
          background-color: mat.get-color-from-palette($info, A700);
        }
      }
    }
    &.caution-color {
      .tone {
        &-50 {
          background-color: mat.get-color-from-palette($caution, 50);
        }
        &-100 {
          background-color: mat.get-color-from-palette($caution, 100);
        }
        &-200 {
          background-color: mat.get-color-from-palette($caution, 200);
        }
        &-300 {
          background-color: mat.get-color-from-palette($caution, 300);
        }
        &-400 {
          background-color: mat.get-color-from-palette($caution, 400);
        }
        &-500 {
          background-color: mat.get-color-from-palette($caution, 500);
        }
        &-600 {
          background-color: mat.get-color-from-palette($caution, 600);
        }
        &-700 {
          background-color: mat.get-color-from-palette($caution, 700);
        }
        &-800 {
          background-color: mat.get-color-from-palette($caution, 800);
        }
        &-900 {
          background-color: mat.get-color-from-palette($caution, 900);
        }
        &-A100 {
          background-color: mat.get-color-from-palette($caution, A100);
        }
        &-A200 {
          background-color: mat.get-color-from-palette($caution, A200);
        }
        &-A300 {
          background-color: mat.get-color-from-palette($caution, A300);
        }
        &-A400 {
          background-color: mat.get-color-from-palette($caution, A400);
        }
        &-A700 {
          background-color: mat.get-color-from-palette($caution, A700);
        }
      }
    }
    &.grey-color {
      .tone {
        &-50 {
          background-color: mat.get-color-from-palette($grey-color, 50);
        }
        &-100 {
          background-color: mat.get-color-from-palette($grey-color, 100);
        }
        &-200 {
          background-color: mat.get-color-from-palette($grey-color, 200);
        }
        &-300 {
          background-color: mat.get-color-from-palette($grey-color, 300);
        }
        &-400 {
          background-color: mat.get-color-from-palette($grey-color, 400);
        }
        &-500 {
          background-color: mat.get-color-from-palette($grey-color, 500);
        }
        &-600 {
          background-color: mat.get-color-from-palette($grey-color, 600);
        }
        &-700 {
          background-color: mat.get-color-from-palette($grey-color, 700);
        }
        &-800 {
          background-color: mat.get-color-from-palette($grey-color, 800);
        }
        &-900 {
          background-color: mat.get-color-from-palette($grey-color, 900);
        }
        &-A100 {
          background-color: mat.get-color-from-palette($grey-color, A100);
        }
        &-A200 {
          background-color: mat.get-color-from-palette($grey-color, A200);
        }
        &-A300 {
          background-color: mat.get-color-from-palette($grey-color, A300);
        }
        &-A400 {
          background-color: mat.get-color-from-palette($grey-color, A400);
        }
        &-A700 {
          background-color: mat.get-color-from-palette($grey-color, A700);
        }
      }
    }
  }
}
