.mat-chip--small {
  height: 24px !important;
}
.mat-chip--option--small {
  height: 24px !important;
}
.mat-chip--medium {
  height: 30px !important;
}
.mat-chip--option--medium {
  height: 24px !important;
}
.mat-chip--primary {
  background-color: #1e62a1 !important;
  &::ng-deep {
    span.mdc-evolution-chip__text-label.mat-mdc-chip-action-label {
      --mdc-chip-label-text-color: white !important;
    }
  }
}
.mat-chip--accent {
  background-color: #0cbbe2 !important;
  &::ng-deep {
    span.mdc-evolution-chip__text-label.mat-mdc-chip-action-label {
      --mdc-chip-label-text-color: white !important;
    }
  }
}
.mat-chip--warn {
  background-color: #d14343 !important;
  &::ng-deep {
    span.mdc-evolution-chip__text-label.mat-mdc-chip-action-label {
      --mdc-chip-label-text-color: white !important;
    }
  }
}
.mat-chip--success {
  background-color: #8fc93a !important;
  &::ng-deep {
    span.mdc-evolution-chip__text-label.mat-mdc-chip-action-label {
      --mdc-chip-label-text-color: white !important;
    }
  }
}

.mat-chip--caution {
  background-color: #fb8500 !important;
  &::ng-deep {
    span.mdc-evolution-chip__text-label.mat-mdc-chip-action-label {
      --mdc-chip-label-text-color: white !important;
    }
  }
}
.mat-chip--info {
  background-color: #2d9fc5 !important;
  &::ng-deep {
    span.mdc-evolution-chip__text-label.mat-mdc-chip-action-label {
      --mdc-chip-label-text-color: white !important;
    }
  }
}
