@use "sass:map";
@use "@angular/material" as mat;

.radio-small {
  &::ng-deep {
    .mdc-radio__background {
      width: 1.143rem;
      height: 1.143rem;
    }
    .mdc-radio__inner-circle {
      left: -2.5px;
      top: -2.5px;
    }
    .mdc-radio__outer-circle {
      margin: 2px !important;
    }
    .mdc-radio__inner-circle {
      margin: 2px !important;
    }
  }

  @include mat.radio-density(-3);
}
