.slider--small {
  height: 47px;
  &::ng-deep {
    .mdc-slider__thumb-knob {
      width: var(--mdc-slider-handle-width, 12px);
      height: var(--mdc-slider-handle-height, 12px);
      border-width: calc(var(--mdc-slider-handle-height, 12px) / 2)
        calc(var(--mdc-slider-handle-width, 12px) / 2);
    }
    .mat-mdc-slider-visual-thumb .mat-ripple {
      height: 28px !important;
      width: 28px !important;
      margin: 0.7142857142857143rem;
      border-radius: 14px;
    }
    .mdc-slider__track--inactive {
      height: var(--mdc-slider-inactive-track-height, 2px) !important;
    }
    .mdc-slider__track {
      --mdc-slider-inactive-track-height: 2px !important;
    }
    .mdc-slider__track--active {
      height: var(--mdc-slider-active-track-height, 4px);
      top: calc(
        (
            var(--mdc-slider-inactive-track-height, 4px) -
              var(--mdc-slider-active-track-height, 3px)
          ) / 2
      );
    }
  }
}
.slider--primary {
  &::ng-deep {
    .mdc-slider__track--inactive {
      background-color: #1e62a1;
      opacity: 0.24;
    }
    .mdc-slider__thumb-knob {
      border-color: #1e62a1 !important;
      background-color: #1e62a1 !important;
    }
    .mdc-slider__track--active_fill {
      border-color: #1e62a1 !important;
    }
  }
}
.slider--accent {
  &::ng-deep {
    .mdc-slider__track--inactive {
      background-color: #0cbbe2;
      opacity: 0.24;
    }
    .mdc-slider__thumb-knob {
      border-color: #0cbbe2 !important;
      background-color: #0cbbe2 !important;
    }
    .mdc-slider__track--active_fill {
      border-color: #0cbbe2 !important;
    }
  }
}
.slider--warn {
  &::ng-deep {
    .mdc-slider__track--inactive {
      background-color: #d14343;
      opacity: 0.24;
    }
    .mdc-slider__thumb-knob {
      border-color: #d14343 !important;
      background-color: #d14343 !important;
    }
    .mdc-slider__track--active_fill {
      border-color: #d14343 !important;
    }
  }
}
.slider--success {
  &::ng-deep {
    .mdc-slider__track--inactive {
      background-color: #8fc93a;
      opacity: 0.24;
    }
    .mdc-slider__thumb-knob {
      border-color: #8fc93a !important;
      background-color: #8fc93a !important;
    }
    .mdc-slider__track--active_fill {
      border-color: #8fc93a !important;
    }
  }
}
.slider--caution {
  &::ng-deep {
    .mdc-slider__track--inactive {
      background-color: #fb8500;
      opacity: 0.24;
    }
    .mdc-slider__thumb-knob {
      border-color: #fb8500 !important;
      background-color: #fb8500 !important;
    }
    .mdc-slider__track--active_fill {
      border-color: #fb8500 !important;
    }
  }
}
.slider--info {
  &::ng-deep {
    .mdc-slider__track--inactive {
      background-color: #2d9fc5;
      opacity: 0.24;
    }
    .mdc-slider__thumb-knob {
      border-color: #2d9fc5 !important;
      background-color: #2d9fc5 !important;
    }
    .mdc-slider__track--active_fill {
      border-color: #2d9fc5 !important;
    }
  }
}
