.stepper--primary {
  &::ng-deep {
    .mat-step-header .mat-step-icon-selected {
      background-color: #1e62a1;
    }
  }
}
.stepper--accent {
  &::ng-deep {
    .mat-step-header .mat-step-icon-selected {
      background-color: #0cbbe2;
    }
  }
}
.stepper--warn {
  &::ng-deep {
    .mat-step-header .mat-step-icon-selected {
      background-color: #d14343;
    }
  }
}
.stepper--caution {
  &::ng-deep {
    .mat-step-header .mat-step-icon-selected {
      background-color: #fb8500;
    }
  }
}
.stepper--success {
  &::ng-deep {
    .mat-step-header .mat-step-icon-selected {
      background-color: #8fc93a;
    }
  }
}
.stepper--info {
  &::ng-deep {
    .mat-step-header .mat-step-icon-selected {
      background-color: #2d9fc5;
    }
  }
}
