.example-spacer {
  flex: 1 1 auto;
}
.toolbar-primary {
  background-color: #1e62a1;
}
.toolbar-accent {
  background-color: #0cbbe2;
}
.toolbar-warn {
  background-color: #d14343;
}
.toolbar-success {
  background-color: #8fc93a;
}
.toolbar-caution {
  background-color: #fb8500;
}
.toolbar-info {
  background-color: #2d9fc5;
}
