.mat-mdc-progress-spinner {
  width: 2.5rem !important;
  height: 2.5.5rem !important;
}

.spinner-primary {
  &::ng-deep {
    svg.mdc-circular-progress__indeterminate-circle-graphic {
      stroke: #1e62a1;
    }
  }
}
.spinner-accent {
  &::ng-deep {
    svg.mdc-circular-progress__indeterminate-circle-graphic {
      stroke: #0cbbe2;
    }
  }
}

.spinner-warn {
  &::ng-deep {
    svg.mdc-circular-progress__indeterminate-circle-graphic {
      stroke: #d14343;
    }
  }
}
.spinner-success {
  &::ng-deep {
    svg.mdc-circular-progress__indeterminate-circle-graphic {
      stroke: #8fc93a;
    }
  }
}
.spinner-caution {
  &::ng-deep {
    svg.mdc-circular-progress__indeterminate-circle-graphic {
      stroke: #fb8500;
    }
  }
}
.spinner-info {
  &::ng-deep {
    svg.mdc-circular-progress__indeterminate-circle-graphic {
      stroke: #2d9fc5;
    }
  }
}
